.App {
  text-align: center;
  width: 900px;
  margin-left: 150px;
  background-color: antiquewhite;
  height: 650px;
}

.NavBar {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.NavBar h1 {
  margin-left: 20px;
}

.NavBar p {
  font-size: 20px;
  margin-right: 30px;
  margin-top: auto;
}
.NavBar p span {
  color: aliceblue;
  background-color: rgb(72, 66, 165);
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 3px;
}

.booklist {
  margin-top: 20px;
}

.empty {
  margin-top: 20px;
  font-family: monospace;
  font-size: large;
}

.NewBookForm {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.NewBookForm form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.NewBookForm form input {
  margin-top: 10px;
  width: 500px;
  padding: 20px;
  border: solid;
  border-radius: 5px;
  font-size: 20px;
}

.NewBookForm form button {
  margin-top: 10px;
  width: 100px;
  margin-left: 245px;
  padding: 20px;
  font-size: 12px;
  border-radius: 5px;
}

.bookDetails {
  width: 700px;
  margin-left: 80px;
}

.bookDetails li {
  display: flex;
  color: aliceblue;
  justify-content: space-between;
  background-color: green;
  padding: 20px;
  margin-top: 10px;
}
